{% extends 'AdminBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ 'Tag' | trans }}</h1>

  <dl class="dl-horizontal">
    <dt>{{ 'Name' | trans }}</dt>
    <dd>{{ tag.name }}</dd>
	</dl>

  <div class="actions">
		<a class="btn btn-default" href="{{ path('admin_tag') }}">{{ 'Back to the list' | trans  }}</a>
		<a class="btn btn-primary" href="{{ path('admin_tag_edit', { 'id': tag.id }) }}">{{ 'Edit' | trans  }}</a>
	</div>
{% endblock %}
