<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{% block title %}Events database{% endblock %}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
		<link rel="stylesheet" href="{{ asset('bundles/admin/stylesheets/styles.css') }}"/>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">{{ 'Toggle navigation' | trans }}</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">{{ site_title }}</span>
				</div>
				{% if app.user %}
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="http://event-database-editor.hulk.aakb.dk/">{{ 'Editor' | trans }}</a></li>
						<li><a href="{{ path('admin_feed') }}">{{ 'Feeds' | trans }}</a></li><li><a href="{{ path('admin_feed') }}">{{ 'Feeds' | trans }}</a></li>
						<li><a href="{{ path('admin_tag') }}">{{ 'Tags' | trans }}</a></li>
						<li><a href="{{ path('admin_unknown_tag') }}">{{ 'Unknown tags' | trans }}</a></li>
						{% if is_granted('ROLE_ADMIN') %}
							<li><a href="{{ path('admin_user') }}">{{ 'User' | trans }}</a></li>
						{% endif %}
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
								{{ 'Signed in as %username%' | trans({ '%username%': app.user.username}) }} <span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile' | trans }}</a></li>
								<li><a href="{{ path('fos_user_change_password') }}">{{ 'Change password' | trans }}</a></li>
							</ul>
						</li>
						<li><a href="{{ path('fos_user_security_logout') }}">{{ 'Sign out' | trans }}</a></li>
					</ul>
				</div>
				{% endif %}
			</div>
		</nav>

		<div class="container">
			{% for type, messages in app.session.flashbag.all() %}
				{% set type = (type == 'error') ? 'danger' : type %}
        {% for message in messages %}
          <div class="alert alert-{{ type }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}

			{% block body %}{% endblock %}
		</div>

		<script src="//code.jquery.com/jquery.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>
