{% extends 'AdminBundle:Feed:_edit.html.twig' %}

{% block body -%}
  <h1>{{ 'Edit feed' | trans }}</h1>

  {{ form_start(form) }}
  {{ form_rest(form) }}
  <div class="actions">
    <a class="btn btn-default" href="{{ path('admin_feed') }}">{{ 'Cancel' | trans  }}</a>
    <button class="btn btn-primary" type="submit">{{ 'Save' | trans }}</button>
  </div>
  {{ form_end(form) }}

  <div id="jsoneditor"></div>

  <div class="actions">
    {{ form_start(delete_form) }}
    {{ form_rest(delete_form) }}
    <div class="actions">
      <button class="btn btn-danger" type="submit">{{ 'Delete' | trans }}</button>
    </div>
    {{ form_end(delete_form) }}
  </div>
{% endblock %}
