{% extends 'AdminBundle::base.html.twig' %}

{% block body -%}
  <h1>{{ 'Feed' | trans }}</h1>

  <dl class="dl-horizontal">
    <dt>{{ 'Id' | trans }}</dt>
    <dd>{{ feed.id }}</dd>

    <dt>{{ 'Name' | trans }}</dt>
    <dd>{{ feed.name }}</dd>

    <dt>{{ 'Url' | trans }}</dt>
    <dd>{{ feed.url }}</dd>

		<dt>{{ 'Type' | trans }}</dt>
    <dd>{{ feed.type }}</dd>

		<dt>{{ 'Root' | trans }}</dt>
    <dd>{{ feed.root }}</dd>

		<dt>{{ 'Mapping' | trans }}</dt>
    <dd style="white-space: pre">{{ feed.mapping | json_encode(constant('JSON_PRETTY_PRINT')) }}</dd>

		<dt>{{ 'Lastread' | trans }}</dt>
    <dd>{{ feed.lastRead ? (feed.lastRead | date('Y-m-d H:i:s')) : '–' }}</dd>
	</dl>

  <div class="actions">
		<a class="btn btn-default" href="{{ path('admin_feed') }}">{{ 'Back to the list' | trans  }}</a>
		<a class="btn btn-primary" href="{{ path('admin_feed_edit', { 'id': feed.id }) }}">{{ 'Edit' | trans  }}</a>
	</div>
{% endblock %}
